<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationpruebalec"
        tools:targetApi="31">
        <activity
            android:name=".ui.leccion.leccion26"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion25"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion24"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion23"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion22"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion21"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion20"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion19"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_leccion18"
            android:theme="@style/Theme.MyApplicationpruebalec.Fullscreen" />
        <activity
            android:name=".ui.leccion.leccion"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion17"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion16"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion15"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion14"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion13"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion12"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion11"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion10"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion9"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion8"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion7"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion6"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion5"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion4"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion3"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion2"
            android:exported="false" />
        <activity
            android:name=".ui.leccion.leccion1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplicationpruebalec.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>